<div class="container d-flex justify-content-center align-items-center">
    <div class='card p-5'>
        <h6>Task list</h6>
        <% @tasks.each do |task| %>
        <div class="field">
            <%= check_box_tag(task.completed) %>
            <%= label_tag(task.title) %>
        </div>
        <% end %>
    </div>
</div>