<div class="container d-flex justify-content-center align-items-center">
    <div class='card p-5'>
        <h4>Task list</h4>
        <% @tasks.each do |task| %>
        <div class="field">
            <%= check_box_tag(task.completed) %>
            <label for="title"><%= link_to task[:title],
            task_path(task) %></label>
        </div>
        <% end %>
    <hr>
    <%= link_to "create new task", new_task_path, class: "btn btn-dark" %>
    </div>
</div>